body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.workspace-container, 
.snake-container {
  position: relative;
  display: block;
  width: 50%;
  height: 100vh;
  transition: filter 0.2s linear;
}
.workspace-container {
  &--blur {
    filter: blur(5px) brightness(30%);
  }
}
.snake-container {
  display: flex;
  justify-content: center;
  align-items: center;
  &--blur {
    filter: blur(5px) brightness(30%);
  }
}